<div class="page-header page-header-small">
  <div class="page-header-image rellax-header" data-rellax-speed="-8"
    style="background-image: url('/assets/images/bg26.jpg'); transform: translate3d(0px, 0px, 0px);">
  </div>
</div>

<div class="section section-about-us">
  <div class="container">

    <!-- <div class="separator separator-primary"></div> -->
    <div class="section-story-overview">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-header">
              Count letter
            </div>
            <div class="card-body">

              <form [formGroup]="countLetterForm">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Text:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    formControlName="text"></textarea>
                </div>
                <label>Count as {{countLetterForm?.value.text?.length}} letter{{countLetterForm?.value.text?.length ===
                  1 ? '' : 's'}}</label>
              </form>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-header">
              Count the words
            </div>
            <div class="card-body">

              <form [formGroup]="countWordForm" (ngSubmit)="calculateWords()">
                <div class="form-group">
                  <label for="exampleInputEmail1">URL</label>
                  <input type="text" class="form-control" formControlName="url" placeholder="Enter url">
                  <div *ngIf="countWordForm.invalid && getUrl['url']?.touched" class="alert alert-danger mt-3 border-2"
                    role="alert">
                    Invalid url
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

              <table *ngIf="textCounts.length">
                <tr>
                  <th>Text</th>
                  <th>Count</th>
                </tr>
                <tr *ngFor="let textCount of textCounts">
                  <td>{{textCount.value}}</td>
                  <td>{{textCount.count}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>